---
layout: default
title: Marketing Agency in Green Bay, WI | Insight Creative, Inc.
description: An advertising agency with a vision to bring complete strategic development and creative execution capabilities into one roll-up-your-sleeves, hard-working kind of ad agency.
---

<div class="wrapper">
  <span id="homepage-flag" style="display: none" /></span>
  <div class="home">
    <div class="home-slider" data-aos="fade-up">
      <div class="progress-bar">
      </div>
      <ul class="cd-hero-slider autoplay">
        <li class="selected">
          <a href="/work/bank-of-luxemburg-rebrand.html">
            <div class="cd-full-width">
              <div class="text" style="background: #333f48;">
                <h2 style="color:#fff">Branding</h2>
                <h3 style="color:#fff">for <strong>Bank of Luxemburg</strong></h3>
              </div>
            </div>
            <div class="cd-full-width project-image-wrapper">
              <img class="fit" src="/img/projects/bank-of-luxemburg-rebrand/BOL-Business-Cards.jpg"
              alt="Branding for Bank of Luxemburg"
              srcset="
                /img/projects/bank-of-luxemburg-rebrand/BOL-Business-Cards-2400.jpg 1200w,
                /img/projects/bank-of-luxemburg-rebrand/BOL-Business-Cards-1200.jpg 900w,
                /img/projects/bank-of-luxemburg-rebrand/BOL-Business-Cards-600.jpg 600w,
                /img/projects/bank-of-luxemburg-rebrand/BOL-Business-Cards-400.jpg 400w" />
            </div>
          </a>
        </li>
        <li>
          <a href="/work/rebranding-an-anchored-identity.html">
            <div class="cd-full-width">
              <div class="text" style="background: rgba(0, 47, 108,.9);">
                <h2 style="color:#fff">Branding</h2>
                <h3 style="color:#fff">for <strong>Washington Island Ferry</strong></h3>
              </div>
            </div>
            <div class="cd-full-width project-image-wrapper">
              <img class="fit" src="/img/projects/washington-island-ferry/wif-slider-main-medium-optimized.jpg"
              alt="Branding for the Washington Island Ferry"
              srcset="
                /img/projects/washington-island-ferry/wif-slider-main-medium-optimized-2400.jpg 1200w,
                /img/projects/washington-island-ferry/wif-slider-main-medium-optimized-1800.jpg 900w,
                /img/projects/washington-island-ferry/wif-slider-main-medium-optimized-1200.jpg 600w,
                /img/projects/washington-island-ferry/wif-slider-main-medium-optimized-900.jpg 400w" />
            </div>
          </a>
        </li>
        <li>
            <a href="/work/a-bold-brand-remodel-fox-structures.html">
              <div class="cd-full-width">
                <div class="text" style="background: rgba(64, 64, 65,.9);">
                  <h2 style="color:#fff">A Bold Brand Remodel</h2>
                  <h3 style="color:#fff">for <strong>Fox Structures</strong></h3>
                </div>
              </div>
              <div class="cd-full-width project-image-wrapper">
                <img class="fit" src="/img/projects/fox-structures/fox-structures-billboard-main.jpg"
                alt="Fox Structures Branding"
                srcset="
                              /img/projects/fox-structures/fox-structures-billboard-main-2400.jpg 1200w,
                              /img/projects/fox-structures/fox-structures-billboard-main-1800.jpg 900w,
                              /img/projects/fox-structures/fox-structures-billboard-main-1200.jpg 600w,
                              /img/projects/fox-structures/fox-structures-billboard-main-900.jpg 400w" />
              </div>
            </a>
          </li>
        <li>
          <a href="/work/fox-cities-marathon-social-media.html">
            <div class="cd-full-width">
              <div class="text" style="background: rgba(107,46,124,.9);">
                <h2 style="color:#ffffff">Social Media</h2>
                <h3 style="color:#ffffff">for <strong>Fox Cities Marathon</strong></h3>
              </div>
            </div>
            <div class="cd-full-width project-image-wrapper">
              <img class="fit" src="/img/projects/fox-cities-marathon-social-media/fox-cities-marathon-social-media-cover.jpg"
              alt="Fox Cities Marathon Social Media"
              srcset="
                            /img/projects/fox-cities-marathon-social-media/fox-cities-marathon-social-media-cover-2400.jpg 1200w,
                            /img/projects/fox-cities-marathon-social-media/fox-cities-marathon-social-media-cover-1800.jpg 900w,
                            /img/projects/fox-cities-marathon-social-media/fox-cities-marathon-social-media-cover-1200.jpg 600w,
                            /img/projects/fox-cities-marathon-social-media/fox-cities-marathon-social-media-cover-900.jpg 400w" />
            </div>
          </a>
        </li>
        <li>
          <a href="/work/pti-assorted-projects.html">
            <div class="cd-full-width">
              <div class="text" style="background: rgba(229,44,42,.9);">
                <h2 style="color:#fff"> Branding & Recruitment</h2>
                <h3 style="color:#fff">for <strong>Paper Transport, Inc.</strong></h3>
              </div>
            </div>
            <div class="cd-full-width project-image-wrapper">
              <img class="fit" src="/img/projects/pti-assorted-projects/pti-cover.jpg"
              alt="PTI Branding and Recruitment"
              srcset="
                            /img/projects/pti-assorted-projects/pti-cover-2400.jpg 1200w,
                            /img/projects/pti-assorted-projects/pti-cover-1800.jpg 900w,
                            /img/projects/pti-assorted-projects/pti-cover-1200.jpg 600w,
                            /img/projects/pti-assorted-projects/pti-cover-900.jpg 400w" />
            </div>
          </a>
        </li>
      </ul>
      <!-- .cd-hero-slider -->
    </div>
    <div class="description-statement" data-aos="fade-up">
      <h2>Insight Creative is a <a href="/about">full service ad agency</a>. We offer a complete range of services to help you reach your goals from big picture strategy to fine details of copywriting, design, <a href="/studio">photography</a>, web development, social media and media buying.</h2>
    </div>

    <div class="view-work" data-aos="fade-up">
      <a href="/work">View Work</a>
    </div>

    <div class="testimonial" data-aos="fade-up">
      <h1 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="400">Words from a Client</h1>
      <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="600"><i class="fa fa-quote-left" aria-hidden="true"></i></h2>
      <div class="testimonials" data-aos="fade-up">

        <ul id="testimonials-ul">
          <li>
            <div class="quote" data-aos-anchor=".testimonial" data-aos="fade-up" data-aos-delay="800">
              <p>
                Bank of Luxemburg has been extremely pleased with the results of the rebranding initiative ... I believe that Insight Creative was instrumental in the success of this project. They guided our rebranding team and made sure that it was delivered on time, in budget and answered any of our questions along the way. They were able to come up with a marketing plan that captured the essence of our bank and was very well received by our community and customers. Above all, they made the overall process very easy for me, the bank president, which allowed me to concentrate on other aspects of the bank’s strategic plan.
              </p>
            </div>
            <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1200">Tim Treml</h2>
            <h3 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1600">Bank of Luxemburg</h3>
          </li>
          <li>
            <div class="quote" data-aos-anchor=".testimonial" data-aos="fade-up" data-aos-delay="800">
              <p>
                This show [PACK EXPO] would absolutely not have happened without your support and vision. The graphics looked beyond amazing. Our video mail piece was all everyone could talk about. The social media posts and geofencing ads were on point and stood out. In a nutshell, a 10 out of 10! I honestly am so in awe of you all and the talents you bring to the table. You allowed me to do my job and kept me sane during a very busy period ... Thank you again for everything!
              </p>
            </div>
            <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1200">Tara Abbott</h2>
            <h3 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1600">Domino North America</h3>
          </li>
          <li>
            <div class="quote" data-aos-anchor=".testimonial" data-aos="fade-up" data-aos-delay="800">
              <p>
                  Our multi-faceted project was carried out with the tone, theme, vision and culture we wished to convey and taken to the next level. Looking at the list of tasks completed, each one just as critically important as the next in terms of maintaining and building company brand and reputation, there is quite a comprehensive range of skills needed to accomplish it all. I came away learning volumes from the Insight professionals. Despite many years of working together, Insight still excels at keeping up with innovations and bringing us fresh ideas that ultimately benefit our customers. Our business has grown beyond our imagination because of what Insight has done for us.
              </p>
            </div>
            <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1200">Hoyt Purinton</h2>
            <h3 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1600">Washington Island Ferry Line</h3>
          </li>
          <li>
            <div class="quote" data-aos-anchor=".testimonial" data-aos="fade-up" data-aos-delay="800">
              <p>
                  The media strategy that Insight Creative has developed has successfully increased our business in a very short period of time. Our appointment schedule is now completely booked, which is uncommon at this time of year in our industry. Insight’s expertise is having an outstanding impact on our business.
              </p>
            </div>
            <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1200">Kristi Kuchta</h2>
            <h3 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1600">Re-Bath Green Bay</h3>
          </li>
          <li>
            <div class="quote" data-aos-anchor=".testimonial" data-aos="fade-up" data-aos-delay="800">
              <p>
                I was in the process of beginning my business a year ago when I hired Insight Creative to build and design my website. Starting out I told them exactly what I wanted, a high end modern looking website that stood out from my competitors. I also made sure they understood that I had no idea what that should look like or how to make that happen and was trusting them to come up with a design. In the end my Insight team exceeded my expectations. I receive compliments on my website all the time. In fact I have had people tell me that they hired me because my website was the best.
              </p>
            </div>
            <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1200">Barbara Corbett Au.D.</h2>
            <h3 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1600">Boutique Hearing</h3>
          </li>
          <li>
            <div class="quote" data-aos-anchor=".testimonial" data-aos="fade-up" data-aos-delay="800">
              <p>
                Insight Creative and its team have distinguished themselves by spotting technology trends and thoughtfully assessing whether new channels are a strategic fit for our health care organization. They do a ton of homework. I’ve been consistently pleased by
                their level of preparedness, which has included an impressive ability to impart knowledge as well as anticipate questions.
              </p>
            </div>
            <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1200">Tim Huffcut</h2>
            <h3 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1600">Ministry Health System</h3>
          </li>
          <li>
            <div class="quote" data-aos-anchor=".testimonial" data-aos="fade-up" data-aos-delay="800">
              <p>
                We hired Insight Creative to help revitalize stale advertising campaigns for two large annual events. Not only did their proposed and executed advertising campaign lead to increased attendance at both events, we were also successful in significantly saving
                staff time by using their team's expertise.
              </p>
            </div>
            <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1200">Amber Schroeder</h2>
            <h3 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1600">Madison Area Builders Association</h3>
          </li>
        </ul>

        <div class="testimonials-control">
          <i class="fa fa-angle-left fa-2x" id="testimonials-l"></i>
          <i class="fa fa-angle-right fa-2x" id="testimonials-r"></i>
        </div>
      </div>
    </div>

    <div class="blogs">
      <h1 style="text-align:center;">From the Blog</h1>
      <div class="secondary-blogs">
        {% for post in site.categories.blog limit:1 %} {% assign loopindex = forloop.index | modulo: 2 %}
        <a href="{{ post.url }}">
          <div class="blog-right" style="background-color:#{{ post.back-color }}">
            {% if post.cover-image %}
            <div class="blog-thumbnail" style="background-image:url('/img/blog/{{ post.cover-image }}')"></div>
            {% else %}
            <div class="blog-thumbnail" style="background-image:url('{{ post.featured-image }}')"></div>
            {% endif %}
            <div class="blog-info">
              <h2 style="color:#{{ post.text-color }}">{{ post.title }}</h2>
              <h3 style="color:#{{ post.text-color }}">by <strong>{{ post.author }}</strong></h3>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
<!-- wrapper end -->
