<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@insightwi">
{% if page.heading %}
<meta name="twitter:title" content="{{ page.heading }}">
{% else %}
<meta name="twitter:title" content="{{ page.title }}">
{% endif %}
{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% else %}
<meta name="twitter:description" content="{{ page.excerpt | strip_html | truncate: 200 }}">
{% endif %}
{% if page.cover-image %}
<meta name="twitter:image" content="{{ site.url }}/img/blog/{{ page.cover-image }}">
{% endif %}

<!-- Open Graph -->
{% if page.heading %}
<meta property="og:title" content="{{ page.heading }}">
{% else %}
<meta property="og:title" content="{{ page.title }}">
{% endif %}
<meta property="og:type" content="article">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% if page.description %}
<meta property="og:description" content="{{ page.description }}">
{% else %}
<meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 200}}">
{% endif %}
{% if page.cover-image %}
<meta property="og:image" content="{{ site.url }}/img/blog/{{ page.cover-image }}">
{% else %}
<meta property="og:image" content="{{ site.url }}/img/logo.svg">
{% endif %}
