---
layout: default
title: Culture | Marketing Agency in Green Bay, WI | Insight Creative, Inc.
---

<div class="wrapper">
    <div class="culture">

        <div class="culture-slider" data-aos="fade-up">
            <h1 class="headline slide">
      <span>We</span>
      <span class="words-wrapper">
        <b class="is-visible">Snack</b>
        <b>Play</b>
        <b>Create</b>
      </span>
    </h1>
            <div class="progress-bar">

            </div>
            <ul class="cd-hero-slider autoplay">
                <li class="selected">
                    <div class="cd-full-width project-image-wrapper">
                        <img class="fit" src="/img/culture/insight-creative-cake-break-2500-2.jpg" alt="Insight Creative, Inc. employees enjoying a cake break"
                        srcset="/img/culture/insight-creative-cake-break-2500-2.jpg 2400w,
                        /img/culture/insight-creative-cake-break-1800-2.jpg 1800w,
                        /img/culture/insight-creative-cake-break-1200-2.jpg 1200w,
                        /img/culture/insight-creative-cake-break-900-2.jpg 900w,
                        /img/culture/insight-creative-cake-break-600-2.jpg 600w,
                        /img/culture/insight-creative-cake-break-400-2.jpg 400w"/>
                    </div>
                    <!-- .cd-full-width -->
                </li>
                <li>
                    <div class="cd-full-width project-image-wrapper">
                      <img class="fit" src="/img/culture/header-2.jpg" alt="Insight Creative, Inc. employees playing cards together"
                      srcset="
                      /img/culture/Justin-Andy-Playing-Cards.jpg 2400w,
                      /img/culture/Justin-Andy-Playing-Cards.jpg 1800w,
                      /img/culture/Justin-Andy-Playing-Cards.jpg 1200w,
                      /img/culture/Justin-Andy-Playing-Cards.jpg 900w,
                      /img/culture/Justin-Andy-Playing-Cards.jpg 600w,
                      /img/culture/Justin-Andy-Playing-Cards.jpg 400w"/>
                    </div>
                    <!-- .cd-full-width -->
                </li>
                <li>
                    <div class="cd-full-width project-image-wrapper">
                      <img class="fit" src="/img/culture/header-3.jpg" alt="coffee beans in the shape of the Insight Creative, Inc. logo"
                      srcset="
                      /img/culture/header-3-2400.jpg 2400w,
                      /img/culture/header-3-1800.jpg 1800w,
                      /img/culture/header-3-1200.jpg 1200w,
                      /img/culture/header-3-900.jpg 900w,
                      /img/culture/header-3-600.jpg 600w,
                      /img/culture/header-3-400.jpg 400w"/>
                    </div>
                    <!-- .cd-full-width -->
                </li>
            </ul>
            <!-- .cd-hero-slider -->
        </div>

        <div class="testimonial" data-aos="fade-up" data-aos-delay="200">
            <h1 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="400">Meet the Team</h1>
            <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="600">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
        </h2>
            <div class="quote" data-aos-anchor=".testimonial" data-aos="fade-up" data-aos-delay="800">
                <p>
                  Hands down, the best part about working at Insight is the people. I enjoy working with a kind and talented team who not only respect each other but have a lot of fun together too. That type of working environment cultivates the best ideas and it shows in our work.
                </p>
            </div>
            <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1200">Emily Morehart</h2>
            <h3 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1600">PR/Content Manager</h3>
        </div>

        <div class="employees" id="employees">
            {% for staff in site.data.staff %} {% assign loopindex = forloop.index | modulo: 2 %} {% if loopindex == 1 %}

            <div class="employee employee-left images-rotation" data-aos="fade-up" data-aos-offset="100" data-color="{{ staff.color }}" data-images='["{{ staff.image1 }}", "{{ staff.image2 }}", "{{ staff.image3 }}"]'>
                <div id="{{ staff.name }}" style="position:absolute;top:0;"></div>
                <img src="{{ staff.image1 }}" alt="{{ staff.name }}" />
                <div class="bio">
                    <h1 class="{{ staff.color }}" data-aos="fade-up" data-aos-delay="0">{{ staff.name }}</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400" data-aos-anchor=".{{ staff.color }}">{{ staff.job_title }}</h2>
                    <p data-aos="fade-up" data-aos-delay="800" data-aos-anchor=".{{ staff.color }}">{{ staff.bio }}</p>
                </div>
            </div>
            {% else %}

            <div class="employee employee-right images-rotation" data-aos="fade-up" data-aos-offset="100" data-color="{{ staff.color }}" data-images='["{{ staff.image1 }}", "{{ staff.image2 }}", "{{ staff.image3 }}"]'>
              <div id="{{ staff.name }}" style="position:absolute;top:0;"></div>
                <img src="{{ staff.image1 }}" />
                <div class="bio">
                  <h1 class="{{ staff.color }}" data-aos="fade-up" data-aos-delay="0">{{ staff.name }}</h1>
                  <h2 data-aos="fade-up" data-aos-delay="400" data-aos-anchor=".{{ staff.color }}">{{ staff.job_title }}</h2>
                  <p data-aos="fade-up" data-aos-delay="800" data-aos-anchor=".{{ staff.color }}">{{ staff.bio }}</p>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>

        <div class="snapshots">
            <div class="snap-container one-half" data-aos="fade-up"  data-aos-delay="100" style="background-image:url('/img/culture/women-of-insight.jpg')">
            </div>
            <div class="snap-container one-half" data-aos="fade-up"  data-aos-delay="200" style="background-image:url('/img/culture/sam-jay-niki-the-addys.jpg')">
            </div>

            <div class="testimonial" data-aos="fade-up">
                <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="600">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </h2>
                <div class="quote" data-aos-anchor=".testimonial" data-aos="fade-up" data-aos-delay="800">
                    <p>
                        I know plenty of people who dread their job and live for the weekends. If you work at Insight, you don't feel this way... I like coming into work each day, performing well at a job I enjoy and find rewarding, not to mention being immersed in a culture of co-workers that feel like a second family.
                      </p>
                </div>
                <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1200">Molly Setzer</h2>
                <h3 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1600">Media Manager</h3>
            </div>

            <div class="snap-container one-half" data-aos="fade-up" style="background-image:url('/img/culture/Christmas_2019-3.jpg')">
            </div>
            <div class="snap-container one-half" data-aos="fade-up" data-aos-delay="100" style="background-image:url('/img/culture/Christmas2_2019.jpg')">
            </div>

            <div class="testimonial" data-aos="fade-up">
                <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="600">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </h2>
                <div class="quote" data-aos-anchor=".testimonial" data-aos="fade-up" data-aos-delay="800">
                    <p>
                        Working at Insight is NEVER boring! We have big personalities, the clients keep it challenging (in a good way) and the work is always creative. I can’t imagine working anywhere else.
                    </p>
                </div>
                <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1200">Niki Petit</h2>
                <h3 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1600">Director of Business Development</h3>
            </div>

            <div class="snap-container one-half" data-aos="fade-up" style="background-image:url('/img/culture/Insight-Team-St-Patties-2019.jpg')">
            </div>
            <div class="snap-container one-half" data-aos="fade-up" data-aos-delay="100" style="background-image:url('/img/culture/niki-molly-insight-30-year-celebration.jpg')">
            </div>

            <div class="testimonial" data-aos="fade-up">
                <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="600">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </h2>
                <div class="quote" data-aos-anchor=".testimonial" data-aos="fade-up" data-aos-delay="800">
                    <p>
                        The collaboration amongst team members, everyone's willingness to contribute and the scope of what we can accomplish together, are what make Insight stand out.
                    </p>
                </div>
                <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1200">Brian Brost</h2>
                <h3 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1600">Account Executive</h3>
            </div>

            <div class="snap-container one-third" data-aos="fade-up" style="background-image:url('/img/culture/culture-18.jpg')">
            </div>
            <div class="snap-container two-thirds" data-aos="fade-up" data-aos-delay="100" style="background-image:url('/img/culture/insight-team-photo.jpg')">
            </div>

            <div class="testimonial" data-aos="fade-up">
                <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="600">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </h2>
                <div class="quote" data-aos-anchor=".testimonial" data-aos="fade-up" data-aos-delay="800">
                    <p>
                        Working at Insight is fulfilling both personally and professionally. Jim takes great pride in bringing in the right mix of talent, personality and experience when hiring. And that’s why we have a team that respects each other, produces great work and gets along well inside and outside of work.
                    </p>
                </div>
                <h2 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1200">Jay Bauer</h2>
                <h3 data-aos="fade-up" data-aos-anchor=".testimonial" data-aos-delay="1600">Creative Director</h3>
            </div>

            <div class="snap-container one-half" data-aos="fade-up" style="background-image:url('/img/culture/insight-packers-cookout.jpg')">
            </div>
            <div class="snap-container one-half" data-aos="fade-up" data-aos-delay="100" style="background-image:url('/img/culture/culture-6.jpg')">
            </div>
        </div>
    </div>
</div>
<!-- wrapper end -->
