.studio-header {
    height: 70vh;
    overflow: hidden;
    margin-bottom: $mobile-spacing;
    position: relative;
    background: url('/img/agency/studio-1800.jpg');
    background-size: cover;
    background-position: center center;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
    @include media($desktop) {
        margin-bottom: $desktop-spacing;
    }

    .text {
        position: absolute;
        z-index: 2;
        text-align: center;
        display: table;
        height: 100%;
        width: 100%;
        text-shadow: 0 0 10px rgba(0,0,0,.7);

        h1 {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            color: #fff;
            float: none;
            @include media($tablet) {
                text-shadow: 0 0 15px rgba(0,0,0,.7);
                font-size: modular-scale(4);
            }
            @include media($desktop) {
                font-size: modular-scale(6);
            }
            @include media($desktop-large) {
                text-shadow: 0 0 25px rgba(0,0,0,.7);
                font-size: modular-scale(7);
            }
            @include media($desktop-largest) {
                font-size: modular-scale(8);
            }
        }
    }
}
